.DS_Store
.idea
nbproject
/backup/*

/app/html/fileadmin/
/app/html/uploads/
/app/html/typo3temp/

/app/html/typo3conf/ext/realurl/
/app/html/typo3conf/ext/t3olayout/
/app/vendor/
/app/html/typo3conf/deprecation_*
/app/html/index.php
/app/html/typo3/
app/html/typo3
/app/bin/
